node_modules
.env


echo "# car-doctor-server" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/forhadch30/car-doctor-server.git
git push -u origin main